In [1]:
import semicon

In [2]:
semicon.parameters.load_params('winkler')

,E_0,Delta_0,P,m_c,g_c,gamma_1,gamma_2,gamma_3,kappa,q
InAs,0.418,0.380,0.9197,0.0229,-14.900,20.40,8.30,9.10,7.60,0.39
InSb,0.237,0.810,0.9641,0.0139,-51.560,37.10,16.50,17.70,15.60,0.39
AlSb,2.384,0.673,8.4630,0.1200,0.843,4.15,1.01,1.71,0.31,0.07

In [3]:
semicon.parameters.load_params('lawaetz')

,E_0,Delta_0,P,m_c,g_c,gamma_1,gamma_2,gamma_3,kappa,q
AlSb,2.3200,0.750,0.8441,0.180,0.52,4.15,1.01,1.75,0.31,0.07
GaSb,0.8128,0.752,0.9238,0.042,-7.12,11.80,4.03,5.26,3.18,0.13
InAS,0.4100,0.380,0.9197,0.024,-14.80,19.67,8.37,9.29,7.68,0.04

# direct access

In [5]:
import pandas as pd

# import os
# fpath = os.path.join(
#     semicon.parameters.BASE_DIR,
#     'databank',
#     'bank_lawaetz.csv',
# )

fpath = '/src/semicon/databank/bank_lawaetz.csv'
pd.read_csv(fpath, index_col=0)

,E_0,Delta_0,P,m_c,g_c,gamma_1,gamma_2,gamma_3,kappa,q
AlSb,2.3200,0.750,0.8441,0.180,0.52,4.15,1.01,1.75,0.31,0.07
GaSb,0.8128,0.752,0.9238,0.042,-7.12,11.80,4.03,5.26,3.18,0.13
InAS,0.4100,0.380,0.9197,0.024,-14.80,19.67,8.37,9.29,7.68,0.04