In [1]:
from semicon import parameters

# load parameters as dataframe

In [2]:
databank_winkler = parameters.DataBank('winkler')
databank_winkler.to_dataframe()

,Delta_0,E_0,P,g_c,gamma_1,gamma_2,gamma_3,kappa,m_c,q
InAs,0.380,0.418,0.9197,-14.900,20.40,8.30,9.10,7.60,0.0229,0.39
AlSb,0.673,2.384,0.8463,0.843,4.15,1.01,1.71,0.31,0.1200,0.07
InSb,0.810,0.237,0.9641,-51.560,37.10,16.50,17.70,15.60,0.0139,0.39
Ge,0.296,NaN,NaN,NaN,13.38,4.24,5.69,3.41,NaN,0.06

In [3]:
databank_lawaetz = parameters.DataBank('lawaetz')
databank_lawaetz.to_dataframe()

,Delta_0,E_0,P,g_c,gamma_1,gamma_2,gamma_3,kappa,m_c,q
AlSb,0.75,2.300,0.8441,0.52,4.15,1.01,1.75,0.31,0.180,0.07
GaSb,0.77,0.810,0.9238,-7.12,11.80,4.03,5.26,3.18,0.045,0.13
InAs,0.38,0.420,0.9197,-14.80,19.67,8.37,9.29,7.68,0.023,0.04
HgTe,1.00,-0.303,0.8281,59.00,-18.68,-10.19,-9.56,-10.85,-0.031,0.06
CdTe,0.91,1.600,0.8881,-1.12,5.29,1.89,2.46,1.27,0.096,0.05

# effective parameters

In [4]:
print(databank_lawaetz)

Databank:
    bank name: lawaetz
    materials: AlSb, GaSb, InAs, HgTe, CdTe

In [5]:
list(databank_lawaetz)

['AlSb', 'GaSb', 'InAs', 'HgTe', 'CdTe']

In [6]:
databank_lawaetz['InAs']

{'E_0': 0.42,
 'Delta_0': 0.38,
 'P': 0.9197,
 'm_c': 0.023,
 'g_c': -14.8,
 'gamma_1': 19.67,
 'gamma_2': 8.37,
 'gamma_3': 9.29,
 'kappa': 7.68,
 'q': 0.04}

# ZincBlende parameters

## original parametres show spurious solutions

In [7]:
p = parameters.ZincBlendeParameters(
    name='InAs',
    bands=('gamma_6c', 'gamma_8v', 'gamma_7v'),
    parameters=databank_lawaetz['InAs'],
    valence_band_offset=0.1,
)

# casting to dict to enforce default notebook rendering
# and print values in same order as in parameters.ipynb
{k: p[k] for k in sorted(p)}

{'Delta_0': 0.38,
 'E_0': 0.42,
 'E_v': 0.1,
 'P': 0.9197,
 'g_c': 1.9387298407111935,
 'gamma_0': -1.0115210754829604,
 'gamma_1': 2.050284378198743,
 'gamma_2': -0.43985781090063014,
 'gamma_3': 0.4801421890993698,
 'kappa': -1.1298578109006296,
 'q': 0.04}

## that can be avoid by renormalizing $P$ in a way that $\gamma_0=1$

In [8]:
p = parameters.ZincBlendeParameters(
    name='InAs',
    bands=('gamma_6c', 'gamma_8v', 'gamma_7v'),
    parameters=databank_lawaetz['InAs']
)

p = p.renormalize(new_gamma_0=1)

# casting to dict to enforce default notebook rendering
# and print values in same order as in parameters.ipynb
{k: p[k] for k in sorted(p)}

{'Delta_0': 0.38,
 'E_0': 0.42,
 'E_v': 0,
 'P': 0.8986682778019771,
 'g_c': 1.1819199311235522,
 'gamma_0': 0.9999999999999964,
 'gamma_1': 2.8469263882910028,
 'gamma_2': -0.04153680585450026,
 'gamma_3': 0.8784631941454997,
 'kappa': -0.7315368058544998,
 'q': 0.04}

## or one can set $P$ to desire value

In [9]:
p = parameters.ZincBlendeParameters(
    name='InAs',
    bands=('gamma_6c', 'gamma_8v', 'gamma_7v'),
    parameters=databank_lawaetz['InAs']
)

p = p.renormalize(new_P=0.89866827769558988)

# casting to dict to enforce default notebook rendering
# and print values in same order as in parameters.ipynb
{k: p[k] for k in sorted(p)}

{'Delta_0': 0.38,
 'E_0': 0.42,
 'E_v': 0,
 'P': 0.8986682776955899,
 'g_c': 1.1819199273395675,
 'gamma_0': 1.0000000100574216,
 'gamma_1': 2.846926392274142,
 'gamma_2': -0.04153680386293068,
 'gamma_3': 0.8784631961370692,
 'kappa': -0.7315368038629302,
 'q': 0.04}

# 2DEG parameters

In [10]:
raise NotImplementedError("Need to write it...")

NotImplementedError: Need to write it...

# Provide parameters by hand

In [11]:
p1 = parameters.ZincBlendeParameters(
    name='InAs',
    bands=('gamma_6c', 'gamma_8v', 'gamma_7v'),
    parameters=databank_lawaetz['InAs']
)


# We provide parameters from p1 and set flag
# informing that we already give bare_parameters

p2 = parameters.ZincBlendeParameters(
    name='InAs',
    bands=('gamma_6c', 'gamma_8v', 'gamma_7v'),
    parameters=p1.data, 
    already_bare=True,
)

p1 == p2

True